.form_control{
    display:flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.form_control label{
    font-weight: bold;
    margin-bottom: 0.6em;    
}
.form_control select{
    padding:0.7em;
    border-radius: 0;
    border:none;
}